<div class="padded rounded border-slim item" data-item-id="{{id}}">
  <h3 class="itemContextMenu">
    {{name}}
    {{#if system.type}}
      <small class="text-light">{{localize (concat "wildsea." system.type)}}</small>
    {{/if}}
  </h3>
  <div class="drawer {{#if system.collapsed}}hidden{{/if}}">
    {{> "systems/wildsea/templates/shared/tags.hbs" tags=system.tags}}
  </div>
</div>
